.textosDetail {
    color: white;
}

.imgdetailcustom {
    height: 300px;
}

h1 {
    color: white;
}

.botonesdetail {
    margin-bottom: 2rem;
}

.detailcontainer {
    text-align: center;
    margin-top: 5rem;
}